<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="cam.center"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon2" android:label="@string/app_name">
        <activity android:name=".Principal"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	        <activity android:name=".Conexion" android:label="Camcenter android conexion"></activity>
        <activity android:name=".notificacion" android:label="Camcenter android Notificacion"></activity> 
        <activity android:name=".camaras" android:label="Camcenter android Camaras"></activity>  
        <activity android:name=".imagencam" android:label="Camcenter android Imagen"></activity>  
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>